<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <title>Vue.js Lessons</title>
  </head>
  <body>
    <div id="app">
      <header>
        <img src="images/gradcap.png" height="40" width="40" />
        <h1 class="heading" v-text="sitename"></h1>
        <!-- Created cart button that activates only if there's something in the cart -->
        <button
          v-on:click="showCheckout"
          v-if="cartCount  && showProduct"
          id="cartBtn"
        >
          <i class="fa-solid fa-basket-shopping fa-3x"></i>
          <span class="badge">{{cartCount}}</span>
        </button>
        <!-- This was made in case the cart was emptied and otherwise you could not go back to product page -->
        <button id="cartBtn" v-on:click="showCheckout" v-else-if="!showProduct">
          <i class="fa-solid fa-basket-shopping fa-3x"></i>
          <span class="badge">{{cartCount}}</span>
        </button>
      </header>

      <!-- Shows the product page if this is true -->
      <div v-if="showProduct">
        <!-- Creates search field 
                Since Vue.js updates the fields every time there is a change the search includes search while typing -->
        <div class="searchBox" id="searchField">
          <p>
            <input
              type="text"
              class="searchInput"
              v-model="searchTerm"
              placeholder="Search"
              type="Search"
              aria-label="Search"
            />
            <img src="images/search.gif" width="40" height="40" />
          </p>
        </div>
        <!-- Creates radio buttons for sorting products using Vue.js two way binding -->
        <div class="condSorting">
          <p>
            <input
              type="radio"
              id="priceLowHigh"
              value="priceLowHigh"
              v-model="sortStyle"
            />
            <label for="priceLowHigh">Price: Low to High</label>
          </p>
          <p>
            <input
              type="radio"
              id="priceHighLow"
              value="priceHighLow"
              v-model="sortStyle"
            />
            <label for="priceHighLow">Price : High to Low</label>
          </p>
          <p>
            <input type="radio" id="aToZ" value="aToZ" v-model="sortStyle" />
            <label for="aToZ">Subject: A to Z</label>
          </p>
          <p>
            <input type="radio" id="zToA" value="zToA" v-model="sortStyle" />
            <label for="zToA">Subject: Z to A</label>
          </p>
          <p>
            <input type="radio" id="LaToZ" value="LaToZ" v-model="sortStyle" />
            <label for="LaToZ">Location: A to Z</label>
          </p>
          <p>
            <input type="radio" id="LzToA" value="LzToA" v-model="sortStyle" />
            <label for="LzToA">Location: Z to A</label>
          </p>
          <p>
            <input
              type="radio"
              id="spaceLowHigh"
              value="spaceLowHigh"
              v-model="sortStyle"
            />
            <label for="spaceLowHigh">Spaces: Low to High</label>
          </p>
          <p>
            <input
              type="radio"
              id="spaceHighLow"
              value="spaceHighLow"
              v-model="sortStyle"
            />
            <label for="spaceHighLow">Spaces: High to Low</label>
          </p>
        </div>

        <!-- Displays products that match the search criteria if the search field is not empty -->
        <div v-if="searchTerm != ''">
          <div v-for="lesson in searched_lessons" id="subject-div" class="lesson" :key="lessons.id">
            <img
              class="lessonImage"
              v-bind:src="lesson.image"
              height="40"
              width="40"
            />
            <h2>Subject: {{lesson.subject}}</h2>
            <p>Location: {{lesson.location}}</p>
            <p>Price: AED {{lesson.price}}</p>
            <p>Spaces available: {{lesson.spaces}}</p>
            <button
              id="cart-btn"
              v-html="lessonButton"
              v-on:click="addToCart(lesson)"
              v-if="canAdd(lesson)"
            ></button>
            <button v-html="lessonButton" disabled v-else></button>
          </div>
        </div>
        <div v-else-if="searchTerm == ''">
          <div v-for="lesson in lessons" id="subject-div" class="lesson" :key="lessons.id">
            <img
              class="lessonImage"
              v-bind:src="lesson.image"
              height="40"
              width="40"
            />
            <h2>Subject: {{lesson.subject}}</h2>
            <p>Location: {{lesson.location}}</p>
            <p>Price: AED {{lesson.price}}</p>
            <p>Spaces available: {{lesson.spaces}}</p>
            <button
              id="cart-btn"
              v-html="lessonButton"
              v-on:click="addToCart(lesson)"
              v-if="canAdd(lesson)"
            ></button>
            <button v-html="lessonButton" disabled v-else></button>
          </div>
        </div>

        <!-- The default view of products in the order of when they were added to the file -->
        <div v-else-if="sortStyle === '' ">
          <div v-for="lesson in lessons" id="subject-div" class="lesson">
            <img
              class="lessonImage"
              v-bind:src="lesson.image"
              height="40"
              width="40"
            />
            <h2>Subject: {{lesson.subject}}</h2>
            <p>Location: {{lesson.location}}</p>
            <p>Price: AED {{lesson.price}}</p>
            <p>Spaces available: {{lesson.spaces}}</p>
            <button
              id="cart-btn"
              v-html="lessonButton"
              v-on:click="addToCart(lesson)"
              v-if="canAdd(lesson)"
            ></button>
            <button v-html="lessonButton" disabled v-else></button>
          </div>
        </div>

        <!-- Sorts  by price low to high -->
        <div v-else-if="sortStyle === 'priceLowHigh'">
          <div v-for="lesson in sortedProducts" id="subject-div" class="lesson">
            <img
              class="lessonImage"
              v-bind:src="lesson.image"
              height="40"
              width="40"
            />
            <h2>Subject: {{lesson.subject}}</h2>
            <p>Location: {{lesson.location}}</p>
            <p>Price: AED {{lesson.price}}</p>
            <p>Spaces available: {{lesson.spaces}}</p>
            <button
              id="cart-btn"
              v-html="lessonButton"
              v-on:click="addToCart(lesson)"
              v-if="canAdd(lesson)"
            ></button>
            <button v-html="lessonButton" disabled v-else></button>
          </div>
        </div>

        <!-- Sorts by price high to low -->
        <div v-else-if="sortStyle === 'priceHighLow'">
          <div
            v-for="lesson in sortedProductsHigh"
            id="subject-div"
            class="lesson"
          >
            <img
              class="lessonImage"
              v-bind:src="lesson.image"
              height="40"
              width="40"
            />
            <h2>Subject: {{lesson.subject}}</h2>
            <p>Location: {{lesson.location}}</p>
            <p>Price: AED {{lesson.price}}</p>
            <p>Spaces available: {{lesson.spaces}}</p>
            <button
              id="cart-btn"
              v-html="lessonButton"
              v-on:click="addToCart(lesson)"
              v-if="canAdd(lesson)"
            ></button>
            <button v-html="lessonButton" disabled v-else></button>
          </div>
        </div>

        <!-- Sorts by Subject A to Z -->
        <div v-else-if="sortStyle === 'aToZ'">
          <div
            v-for="lesson in alphabetProducts"
            id="subject-div"
            class="lesson"
          >
            <img
              class="lessonImage"
              v-bind:src="lesson.image"
              height="40"
              width="40"
            />
            <h2>Subject: {{lesson.subject}}</h2>
            <p>Location: {{lesson.location}}</p>
            <p>Price: AED {{lesson.price}}</p>
            <p>Spaces available: {{lesson.spaces}}</p>
            <button
              id="cart-btn"
              v-html="lessonButton"
              v-on:click="addToCart(lesson)"
              v-if="canAdd(lesson)"
            ></button>
            <button v-html="lessonButton" disabled v-else></button>
          </div>
        </div>

        <!-- Sorts by Subject Z to A -->
        <div v-else-if="sortStyle === 'zToA'">
          <div
            v-for="lesson in alphabetProductsZ"
            id="subject-div"
            class="lesson"
          >
            <img
              class="lessonImage"
              v-bind:src="lesson.image"
              height="40"
              width="40"
            />
            <h2>Subject: {{lesson.subject}}</h2>
            <p>Location: {{lesson.location}}</p>
            <p>Price: AED {{lesson.price}}</p>
            <p>Spaces available: {{lesson.spaces}}</p>
            <button
              id="cart-btn"
              v-html="lessonButton"
              v-on:click="addToCart(lesson)"
              v-if="canAdd(lesson)"
            ></button>
            <button v-html="lessonButton" disabled v-else></button>
          </div>
        </div>

        <!-- Sorts by Location A to Z -->
        <div v-else-if="sortStyle === 'LaToZ'">
          <div v-for="lesson in locationAtoZ" id="subject-div" class="lesson">
            <img
              class="lessonImage"
              v-bind:src="lesson.image"
              height="40"
              width="40"
            />
            <h2>Subject: {{lesson.subject}}</h2>
            <p>Location: {{lesson.location}}</p>
            <p>Price: AED {{lesson.price}}</p>
            <p>Spaces available: {{lesson.spaces}}</p>
            <button
              id="cart-btn"
              v-html="lessonButton"
              v-on:click="addToCart(lesson)"
              v-if="canAdd(lesson)"
            ></button>
            <button v-html="lessonButton" disabled v-else></button>
          </div>
        </div>

        <!-- Sorts by Location Z to A -->
        <div v-else-if="sortStyle === 'LzToA'">
          <div v-for="lesson in locationZtoA" id="subject-div" class="lesson">
            <img
              class="lessonImage"
              v-bind:src="lesson.image"
              height="40"
              width="40"
            />
            <h2>Subject: {{lesson.subject}}</h2>
            <p>Location: {{lesson.location}}</p>
            <p>Price: AED {{lesson.price}}</p>
            <p>Spaces available: {{lesson.spaces}}</p>
            <button
              id="cart-btn"
              v-html="lessonButton"
              v-on:click="addToCart(lesson)"
              v-if="canAdd(lesson)"
            ></button>
            <button v-html="lessonButton" disabled v-else></button>
          </div>
        </div>

        <!-- Sorts by Spaces Low to High -->
        <div v-else-if="sortStyle === 'spaceLowHigh'">
          <div v-for="lesson in sortSpacesLow" id="subject-div" class="lesson">
            <img
              class="lessonImage"
              v-bind:src="lesson.image"
              height="40"
              width="40"
            />
            <h2>Subject: {{lesson.subject}}</h2>
            <p>Location: {{lesson.location}}</p>
            <p>Price: AED {{lesson.price}}</p>
            <p>Spaces available: {{lesson.spaces}}</p>
            <button
              id="cart-btn"
              v-html="lessonButton"
              v-on:click="addToCart(lesson)"
              v-if="canAdd(lesson)"
            ></button>
            <button v-html="lessonButton" disabled v-else></button>
          </div>
        </div>

        <!-- Sorts by Spaces High to Low -->
        <div v-else-if="sortStyle === 'spaceHighLow'">
          <div v-for="lesson in sortSpacesHigh" id="subject-div" class="lesson">
            <img
              class="lessonImage"
              v-bind:src="lesson.image"
              height="40"
              width="40"
            />
            <h2>Subject: {{lesson.subject}}</h2>
            <p>Location: {{lesson.location}}</p>
            <p>Price: AED {{lesson.price}}</p>
            <p>Spaces available: {{lesson.spaces}}</p>
            <button
              id="cart-btn"
              v-html="lessonButton"
              v-on:click="addToCart(lesson)"
              v-if="canAdd(lesson)"
            ></button>
            <button v-html="lessonButton" disabled v-else></button>
          </div>
        </div>
      </div>

      <!-- Shows checkout page if showProduct is false -->
      <div class="checkout" v-else>
        <button v-on:click="showCheckout" id="carttobackbtn">
          &#139;&#139; Back
        </button>

        <!-- Creates fields for the user to type their details -->
        <h2>Checkout</h2>
        <form id="userInfo" class="cartStyle">
          <h2 style="font-size: 25px">Information</h2>
          <p>
            <input v-model="order.firstName" placeholder="First Name" />
          </p>
          <p>
            <input v-model="order.lastName" placeholder="Last Name" />
          </p>
          <p>
            <input v-model="order.phoneNo" placeholder="Phone" />
          </p>
          <!-- Button is disabled if any fields are empty or don't match the RegEx -->
          <button disabled v-if="emptyFields" id="cart-btn" class="placeOrdBtn">
            Place Order
          </button>
          <button @click="placeOrder" v-else id="cart-btn" class="placeOrdBtn">
            Place Order<lord-icon
              src="https://cdn.lordicon.com/lqsduwhb.json"
              trigger="hover"
              style="width: 40px; height: 40px"
            >
            </lord-icon>
          </button>
        </form>

        <!-- The field shows the user entered info and cart items -->
        <div id="cartCheckOut" class="cartStyle">
          <h2 style="font-size: 25px">Order Summary</h2>

          <p>First Name: {{ order.firstName }}</p>
          <p>Last Name: {{ order.lastName }}</p>
          <p>Phone: {{ order.phoneNo }}</p>

          <hr width="100%" style="border: 2px dotted purple" />

          <h2 class="pageHeader">Your Cart</h2>
          <!-- Loops through the products and if they match the ID in the cart it shows it on this page as well as their frequency -->
          <div v-for="lesson in lessons" class="cartProducts">
            <span v-text="showInCart(lesson,lesson._id)"></span>
            <span v-if="counter(lesson._id) > 0"
              >&nbsp;&nbsp;&nbsp;&nbsp;X&nbsp;&nbsp;&nbsp;&nbsp;</span
            >
            <span v-text="counter(lesson._id)"></span>
            <span v-if="counter(lesson._id) > 0"
              >&nbsp;&nbsp;&nbsp;&nbsp;AED</span
            >
            <span v-text="showInCartPrice(lesson,lesson._id)"></span>
            <button
              v-text="inCartButton"
              v-if="counter(lesson._id) > 0"
              @click="removeFromCart(lesson)"
              id="removeItmBtn"
            ></button>
          </div>
          <hr
            width="100%"
            style="border: 1px solid violet; background: violet"
          />
        </div>
      </div>
    </div>

    <script>
      // Created RegEx for name to be at least one character long
      var nameRegExp = new RegExp("^[A-Za-z]{1,}$");
      // Created RegEx for the phone number to start with '05' and have 9 other digits
      var phoneRegExp = new RegExp("^05[0-9]{8,8}$");

      //   vue object
      var webstore = new Vue({
        el: "#app",
        data: {
          sitename: "SUBPOINT",
          showProduct: true,
          cartButton: '<i class="fas fa-shopping-cart"></i> Checkout',
          // Using two way binding it changes these empty fields depending on what the user inputs
          searchTerm: "",
          sortStyle: "",
          // Array for cart for items to get added
          cart: [],
          order: {
            firstName: "",
            lastName: "",
            phoneNo: "",
          },
          lessonButton: "<i class='fas fa-plus'></i> Add to cart",
          // lessons from lessons collection
          lessons: {},
          searched_lessons:[],
          inCartButton: "Remove",
        },
        created: function () {
          // this function will be run automatically
          // when creating the Vue instance
          fetch("http://localhost:3000/collection/lessons").then(function (
            response
          ) {
            response.json().then(function (json) {
              // save the returned JSON object to 'school.lessons';
              webstore.lessons = json;
              console.log(webstore.lessons);
            });
          });
        },
        methods: {
          // Adds the product id to cart and decreases a space by 1
          addToCart: function (lesson) {
            this.cart.push(lesson._id);
            lesson.spaces--;
          },
          // Checks if there is still available product left
          canAdd: function (lesson) {
            return lesson.spaces > 0;
          },
          // Depending on the boolean value shows the product or checkout page
          showCheckout() {
            this.showProduct = this.showProduct ? false : true;
          },
          // Counts how many times an item is in the cart
          counter(_id) {
            let counter = 0;
            for (let i = 0; i < this.cart.length; i++) {
              if (this.cart[i] === _id) {
                counter++;
              }
            }
            if (counter > 0) {
              return counter;
            }
          },
          // If the product is in the cart at least once it will display it on the checkout page
          showInCart(lesson, _id) {
            let counter = this.counter(_id);
            if (counter > 0) {
              return lesson.subject;
            }
          },
          showInCartPrice(lesson, _id) {
            let counter = this.counter(_id);
            if (counter > 0) {
              return lesson.price;
            }
          },
          // When the button is clicked sends out an alert and refreshes the page
          placeOrder(event) {
            event.preventDefault();
            alert("Order Placed!");
            this.addOrderToMdb(
              this.order.firstName,
              this.order.lastName,
              this.order.phoneNo,
              this.cart
            );
            this.updateSpaceMdb(this.cart);

            // location.reload();
          },
          // Removes the product id from the array and increases the space of the product if it exists in the array in the first place
          removeFromCart(lesson) {
            const index = this.cart.indexOf(lesson.id);
            if (index > -1) {
              this.cart.splice(index, 1);
            }
            lesson.spaces++;
          },
          // Adds the order information into the backend
          addOrderToMdb(firstName, lastName, phoneNo, items) {
            let orderInfo = {
              fname: firstName,
              lname: lastName,
              phone: phoneNo,
              lessonId: items,
            };
            fetch("http://localhost:3000/collection/order", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(orderInfo),
            })
              .then((response) => response.text())
              .then((responseJSON) => {
                updateSpaceMdb(items);
              });
              console.log(items)
          },
          // Updates the spaces of available lessons when an order is placed
          updateSpaceMdb(lessons) {
            fetch('collection/lessons', {
              method: "PUT",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify(this.cart)
            })            
          },
        },
        computed: {
          // Checks how many items in cart
          cartCount: function () {
            return this.cart.length || "";
          },
          cartLenth: function () {
            return cartCount > 0;
          },
          // Checks if any fields are empty or fail the RegEx
          emptyFields() {
            return (
              !nameRegExp.test(this.order.firstName) ||
              !nameRegExp.test(this.order.lastName) ||
              !phoneRegExp.test(this.order.phoneNo)
            );
          },
          // Sorts products by price low to high
          sortedProducts() {
            function compare(a, b) {
              if (a.price > b.price) return 1;
              if (a.price < b.price) return -1;
              return 0;
            }
            return this.lessons.sort(compare);
          },
          // Sorts products by price high to low
          sortedProductsHigh() {
            function compare(a, b) {
              if (a.price < b.price) return 1;
              if (a.price > b.price) return -1;
              return 0;
            }
            return this.lessons.sort(compare);
          },
          // Sorts products alphabetically from A to Z
          alphabetProducts() {
            function compare(a, b) {
              if (a.subject > b.subject) return 1;
              if (a.subject < b.subject) return -1;
              return 0;
            }
            return this.lessons.sort(compare);
          },
          // Sorts products from Z to A
          alphabetProductsZ() {
            function compare(a, b) {
              if (a.subject < b.subject) return 1;
              if (a.subject > b.subject) return -1;
              return 0;
            }
            return this.lessons.sort(compare);
          },
          // Sorts location from A to Z
          locationAtoZ() {
            function compare(a, b) {
              if (a.location > b.location) return 1;
              if (a.location < b.location) return -1;
              return 0;
            }
            return this.lessons.sort(compare);
          },
          // Sorts location from Z to A
          locationZtoA() {
            function compare(a, b) {
              if (a.location < b.location) return 1;
              if (a.location > b.location) return -1;
              return 0;
            }
            return this.lessons.sort(compare);
          },
          // Sorts Spaces from Low to High
          sortSpacesLow() {
            function compare(a, b) {
              if (a.spaces > b.spaces) return 1;
              if (a.spaces < b.spaces) return -1;
              return 0;
            }
            return this.lessons.sort(compare);
          },
          // Sorts Spaces from High to Low
          sortSpacesHigh() {
            function compare(a, b) {
              if (a.spaces < b.spaces) return 1;
              if (a.spaces > b.spaces) return -1;
              return 0;
            }
            return this.lessons.sort(compare);
          },
          // Searches the term from the search field in the backend
          searchField: function() {
            var search = this.searchTerm.toLowerCase()
            console.log(this.searchTerm);
            var searchresults=[];
            
            if(this.searchTerm!=''){
                fetch("http://localhost:3000/collection/lessons/"+search).then(function (
                response
              ) {
                response.json().then(function (json) {
                  // save the returned JSON object to 'school.lessons';
                  
                  webstore.searched_lessons = JSON.parse(JSON.stringify(json));
                  searchresults.push(json);
                  console.log(json)
                  return json;
                });
              });   
            } 
          },
        },
      });
    </script>
  </body>
</html>
